<ion-header>
  <ion-toolbar>
    <ion-title>Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-list>

        <ion-item *ngFor="let contact of contactList | async">

      <ion-icon item-start *ngIf="contact.phoneNumbers"
      (click)="callContact(contact.phoneNumbers[0].value)"
      ios="ios-call"
      md="md-call"
      tappable></ion-icon>

    <ion-label>
      {{contact.name.givenName}}
    </ion-label>
        </ion-item>
    
      </ion-list> -->
</ion-content>
