<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- <div class="card-header">
    <h4 class="card-title"> Simple Table</h4>
  </div> -->
      <div class="card-body">

        <!-- class="table-responsive" -->
        <div>
          <table class="table">
            <thead class=" text-primary">
            <th *ngFor="let title of tableHeaders">
              {{title}}
            </th>
            </thead>
            <tbody>
            <tr *ngFor="let customer of paginator?.content">
              <!-- <td><strong>#{{customer?.id}}</strong>
              </td> -->
              <td>
                {{customer?.name}}
              </td>
              <td>
                {{customer.createdAt | date : 'dd/MM/yyyy'}}
              </td>
<!--              <td>-->

<!--                <span *ngIf="customer.status === 'active'">Ativo</span>-->
<!--                <span *ngIf="customer.status === 'inactive'">Inativo</span>-->

<!--              </td>-->
              <td>
                <a (click)="delete(customer)">
                  <i class="nc-icon nc-simple-remove"></i>
                </a>
              </td>

              <td>
                <a [routerLink]="['/paciente/',customer.id]">
                  <i class="nc-icon nc-minimal-right"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-paginator [paginator]="paginator" (onPaginate)="load($event)"></app-paginator>
<div class="col-md-12 text-right ">
  <button class="btn btn-primary btn-round" routerLink="/paciente"
          type="submit">Novo Paciente
  </button>
</div>
