
<ion-tabs>
    <ion-tab-bar slot="bottom" >
    <ion-tab-button (click)="verifyRoute('gestao')" tab="gestao">
      <img *ngIf="routerName === 'gestao'" class="img-selected" src="../../../assets/images/brain_visited.png">
      <img *ngIf="routerName !== 'gestao'" class="img-not-selected" src="../../../assets/images/brain.png">
      <ion-label *ngIf="routerName === 'gestao'" class="tab-text">Gestão</ion-label>
    </ion-tab-button>

        <ion-tab-button (click)="verifyRoute('extrato')" tab="extrato" >
          <img *ngIf="routerName === 'extrato'" class="img-selected" src="../../../assets/images/list_visited.png">
          <img *ngIf="routerName !== 'extrato'" class="img-not-selected" src="../../../assets/images/list.png">
          <ion-label *ngIf="routerName === 'extrato'" class="tab-text">Extrato</ion-label>
        </ion-tab-button>
    
        <ion-tab-button (click)="verifyRoute('home')" tab="home" >
          <img *ngIf="routerName === 'home'" class="img-selected" src="../../../assets/images/analytics_visited.png">
          <img *ngIf="routerName !== 'home'" class="img-not-selected" src="../../../assets/images/analytics.png">
          <ion-label *ngIf="routerName === 'home'" class="tab-text">Negócio</ion-label>
        </ion-tab-button>

       
        <!-- <ion-tab-button (click)="verifyRoute('profile')" tab="profile" >
          <img *ngIf="routerName === 'profile'" style="width: 28px; height: 28px; margin-right: 15px;" src="../../../assets/images/user_visited.png">
          <img *ngIf="routerName !== 'profile'" style="width: 24px; height: 24px; margin-right: 15px;" src="../../../assets/images/user.png">
          <ion-label *ngIf="routerName === 'profile'" style="margin-left: -12px; font-size: 11px;">Perfil</ion-label>
        </ion-tab-button> -->

        <ion-tab-button (click)="verifyRoute('settings')" tab="settings" >
          <img *ngIf="routerName === 'settings'" class="img-selected" src="../../../assets/images/cogs_visited.png">
          <img *ngIf="routerName !== 'settings'" class="img-not-selected" src="../../../assets/images/cogs.png">
          <ion-label *ngIf="routerName === 'settings'" class="tab-text">Confs</ion-label>
        </ion-tab-button>
       
      </ion-tab-bar>
</ion-tabs>
