<ion-content >
    <ion-slides pager="true">
        <ion-slide >
            <img margin style="width: 75%" src="../../../assets/images/logo_zyon.png">
            <h1 >Bem Vindo ao Zyon ;)</h1>
            <p >Único App de Gestão Ágil do mercado 100% focado em seu resultado.</p>
        </ion-slide>
    
        <ion-slide >
            <img  src="../../../assets/images/list_visited.png">
            <h1 >1º Sincronize suas maquininhas</h1>
            <p >Integradora com várias operadoras do mercado.</p>
        </ion-slide>
    
        <ion-slide >
            <img  src="../../../assets/images/analytics_visited.png">
            <h1 >2º Acompanhe suas vendas</h1>
            <p >Acompanhe em tempo real todas as suas vendas, seja lá onde tiver sido feita!</p>
          </ion-slide>

          <ion-slide >
            <img  src="../../../assets/images/brain_visited.png">
            <h1 >3º Aprenda com matérias verificadas</h1>
            <p >Para melhorar suas vendas e a gestão de seu negócio, acompanhe matérias verificadas em sua conta.</p>
            <ion-button  (click)="finish()" slot="end">Começar</ion-button>
          </ion-slide>
    </ion-slides>
</ion-content>
