<ion-header >
  <ion-toolbar >
    <ion-title >Meu Negócio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [pager]="false" [options]="slidesOpts" >
    <ion-slide >
      <ion-card class="text-center" mode="ios" style="background-color: rgba(255, 255, 255, .1)">
        <ion-card-header>
          <ion-card-title >Patrimônio</ion-card-title>
          <ion-card-subtitle no-padding no-margin ><small>Atualizado em 21/04/2019</small> </ion-card-subtitle>
          <ion-card-title class="primary-title" ><strong>R$ 1.500,00</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content class="text-center" no-padding>
          
          <ion-text no-padding >
            <h4><strong>Meu Crescimento</strong></h4>
            <ion-text>
              <ion-text color="success"><strong>23%</strong></ion-text> últimos 30 dias
            </ion-text>
          </ion-text>

          <div >
              <google-chart [data]="pieChartVendas"></google-chart>
          </div>
          
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="text-center" mode="ios" style="background-color: rgba(255, 255, 255, .1)" >
        <ion-card-header>-----++++++++++++++++++++++++++-
          <ion-card-title >Produtos & Serviços</ion-card-title>
          <ion-card-subtitle no-padding no-margin ><small>Atualizado em 21/04/2019</small> </ion-card-subtitle>
          <ion-card-title class="primary-title" ><strong>56 Registros</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content class="text-center" no-padding>
          <ion-text no-padding >
            <h4><strong>Mais Vendido</strong></h4>
            <ion-text>Pizza</ion-text>
          </ion-text>
          
          <div >
              <google-chart [data]="pieChartData"></google-chart>
          </div>

        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>
<!--   
  <ion-slides [options]="slidesOptsSecondary" class="animation-fadeIn">
    
    <ion-slide>
      <ion-card >
        <ion-card-header>
          <ion-item lines="none" no-padding no-margin>
              <img  src="../../../assets/images/machine.png">
          </ion-item>
          
          <ion-card-title >
                <ion-text>Minhas Maquininhas</ion-text>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card >
        <ion-card-header>
          <ion-item lines="none" no-padding no-margin >
              <img  src="../../../assets/images/help.png">
          </ion-item>

          <ion-card-title  >
              <ion-text>Área de Suporte</ion-text>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    
  </ion-slides> -->
</ion-content>