<ion-header >
  <ion-toolbar >
    <ion-title >Gestão & Aprendizado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
        <ion-card *ngFor="let artigo of artigos"  mode="ios">
          <!-- <div *ngIf="artigo.verificada" > 
            <ion-card mode="ios">
            Empresa X
            </ion-card>
            </div>
          <div *ngIf="artigo.patrocinada" ><ion-card mode="ios">
            Empresa X
          </ion-card>
        </div> -->
          <img src="../../../assets/images/blog_image_teste.jpg"> 
          <ion-card-header>
              <ion-card-subtitle >
                  {{artigo.subtitle}}
                    </ion-card-subtitle>
                <ion-card-title >
                    {{artigo.title}}
                </ion-card-title>             
          </ion-card-header>
       <ion-card-content>
         <!-- {{artigo.text}} -->
         <ion-button  (click)="goToArticle(artigo)" slot="end">Saiba Mais</ion-button>

       </ion-card-content>

        </ion-card>
</ion-content>
