<div class="card">
  <header class="card-header">
    <h4 class="card-title mt-2">Nova Senha</h4>
  </header>
  <article class="card-body">
    <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate
          class="was-validated position-relative">

      <div class="form-group">
        <label>Código de verificação</label>
        <input class="form-control" required [(ngModel)]="newPassword.token" #token="ngModel" name="token"
               type="text">
        <div *ngIf="f.submitted && token.invalid" class="invalid-feedback">
          Digite um token de confirmação válido.
        </div>
      </div>

      <div *ngIf="token.valid">
        <div class="form-group">
          <label>Senha</label>
          <input class="form-control" required [(ngModel)]="newPassword.password" #password="ngModel" minlength="6" [minLength]="6" name="password"
                 type="password">
          <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
            Digite uma senha com no mínimo 6 caracteres.
          </div>
        </div>
        <div class="form-group">
          <label>Digite a senha novamente</label>
          <input class="form-control" required [(ngModel)]="newPassword.confirmation" #confirmation="ngModel" minlength="6" [minLength]="6"
                 name="confirmation"
                 type="password">
          <div *ngIf="f.submitted && confirmation.invalid" class="invalid-feedback">
            Digite novamente sua senha.
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Atualizar Senha</button>
      </div>
    </form>
  </article>
</div>
